body
    {
     background-color: #E8F6EF;
    }


h1
{
    color: #1DB9C3;
}
h3
{
    color: #1DB9C3;
}
hr
{
         
    border-style: dotted none none;
    width:5%;
    border-width: 5px;
    border-color: grey;
         
}
    